mixin factModal(title, id, ...bullets)
	.facts
		button.btn.btn-default.btn-sm(data-toggle="modal" data-target="#fact-modal-#{id}") 
			| Katso faktat 
			span.glyphicon.glyphicon-screenshot
		.modal.fade(id="fact-modal-#{id}" tabindex="-1" role="dialog" aria-labelledby="fact-modal-#{id}-label")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						h4.modal-title(id="fact-modal-#{id}-label")= title
					.modal-body
						ul
							each bullet in bullets
								li= bullet 
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Sulje

doctype html
html
	head
		title Communication
		meta(charset="UTF-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		link(rel="stylesheet" href="stylesheets/main.css")
	body(data-spy="scroll" data-target="#navbar-example")
		nav.navbar.navbar-default.navbar-fixed-top#navbar-example
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Palaverit ja viestintä
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li: a(href='#problem') Tarina
						li: a(href='#every-meeting') Video 1
						li: a(href='#expert') Video 2
		header.header
			h1.header--title Palaverit ja viestintä
		section.problem#problem
			.container
				.row
					.col-sm-8
						.story
							h2 On kolea Tammikuinen päivä...
							p ... ja Pekka Oy:n idyllisissä tiloissa TJ Pekka Pekkonen silmäilee tarkkaavaisesti yrityksensä tuoreita talouslaskelmia. Nämä synkät luvut ovat vieneet lujana miehenä tunnetun Pekkosen yöunet tullessaan ja mies toteaakin, että uusien tuulien on aika alkaa puhaltaa, jotta yritys selviytyisi alkavasta vuodesta. TJ Pekkonen päättääkin investoida järjestelmään, tarkoituksenaan tehostaa hänen ja työntekijöidensä tehokkuutta.
							p Keskusteltuaan henkilöstön kanssa eri mahdollisuuksista lämpöisen kahvikupposen ääressä Pekka valitsee Ilari Oy:n järjestelmä kehittäjäkseen.
					.col-sm-4
						img.img-responsive(src="images/problem.jpg" alt="Problem")
		section.first-call
			.overlay.overlay-black
			h2.first-call--title Pekka ottaa yhteyttä Ilari Raijas OY:seen. Toisessa päässä puhelimeen vastaa guru...

		section.developer
			.container
				.story
					.row
						.col-sm-5
							img.img-responsive(src="images/ilari.jpg" alt="Ilari")
						.col-sm-7
							h2 Ilari lukeutuu Linus Torvaldsin kaltaisiin...
							p ... tietotekniikan suurmiehiin.  Pitkän ja antoisan keskustelun jälkeen herrat sopivat palaverista, jossa kaksikko joukkoineen tullee erittelemään yhteistyönsä pelisäännöt.
				
				.story
					.row
						.col-sm-12
							p Tehokkuudestaan tunnettu Ilari rupeaa jo samana iltana valmistelemaan palaveria  ottaen selvää tuoreen asiakkaansa taustoista ja varaa neuvottelutilan seuraavaksi aamuksi.
							+factModal('Maksimoi palaverin laatu suunnittelemalla', '1',
							'Saa hiottuja ideoita kollegoiltasi',
							'Optimoi palaverin tuottavuus keston määrittämisellä',
							'Säästä työtunteja kutsumalla oikeat henkilöt')
							img.img-responsive(src="images/pekka-research.jpg" alt="Pekka research")

				.story
					.row
						.col-sm-7
							h2 Seuraavana päivänä kukonlaulun aikaan...
							p ... Ilari Oy:n konttorissa Ilari kutsuu omat asiantuntijansa neuvottelupöydän ääreen. Aikainen ajankohta ja pieni varoitusaika aiheuttaa työntekijöissä pientä närää, jonka Ilari huomaa. Pitkän pöydän päästä johtaja pahoittelee tilannetta ystävällisesti. Pian osanottajien ärtymys alkaa laantua ja kertoessa Pekka Oy:n hälyttävästä tilanteesta saa Ilari huoneessa täyden huomion ja tuen. Seuraavien työntäyteisten tuntien aikana tulevalle yritysten väliselle palaverille laaditaan ohjelma.

						.col-sm-5
							img.img-responsive(src="images/developer-meeting.jpg" alt="Developer meeting")

		section.client-meeting
			h2.client-meeting--title Hyvinkin pian suuri päivä koittaa ja osapuolet löytävät itsensä kauniiksi katetun neuvottelupöydän ääressä...
			.overlay.overlay-black
				

		section.meeting-start
			.container
				.story
					.row
						.col-sm-5
							img.img-responsive(src="images/woman-mac.jpg" alt="Woman mac")
						.col-sm-7
							+factModal('Onnistu asiakaspalaverissa', '2',
							'Ansaitse vastapuolen luottamus',
							'Anna asiantunteva kuva itsestäsi',
							'Muista tärkeimmät asiat palaverin jälkeen')
							p Tilassa elää mukavan seurallinen henki ja small-talk raikaa. Lopulta kuitenkin bleisereihin ja pikkutakkeihin pukeutuneet naiset ja herrat istuutuvat pöydän ääreen keskustelemaan Pekka Oy:n tekemästä hankkeesta.
							p Pitkän palaverin välissä nautitaan Ilari Oy:n konttorin antimista, mutta primäärinä tarkoituksena on tietysti rajata kehitettävän ohjelmiston toiminnallisuus.
				
				.story
					.row
						.col-sm-12
							+factModal('Tuloksellinen kommunikaatio', '3',
							'Saa kaikkia miellyttävä tulos hyvällä asenteella',
							'Anna kaikkien puhua, jotta saat parhaimmat ideat',
							'Tee itsestäsi vakuuttava eri äänenpainoilla')
							p Palaverin loppupuolella Ilari Oy:n edustajat ilmoittavat Pekka Oy:n vaatimusten olevan mahdottomia toteuttaa sellaisenaan. Kokousta isännöivä väki keventää tunnelmaa ja lupaa vierailleen, että laatii suunnitelman tuotteesta, jolla Pekka Oy: talous saadaan jaloilleen.
							
							img.img-responsive(src="images/bad-plan.jpg" alt="Bad plan")
							
		section.developer-working
			.container
				.row
					.col-sm-8.col-sm-offset-4
						h2.developer-working--title Nopeammin kuin toivoa saattaa Ilari Oy pitää asiantuntijapalaverin, jossa työntekijät lyövät viisaat päänsä yhteen selvittääkseen, mitä Pekka OY todellisuudessa tarvitsee.

		section.innovation
			.container
				.story
					.row
						.col-sm-6
							.row
								.col-sm-6
									img.img-responsive.story--minor-image(src="images/design1.jpg" alt="Design 1")
								.col-sm-6
									img.img-responsive.story--minor-image(src="images/design2.jpg" alt="Design 2")
							.row
								.col-sm-12
									img.img-responsive(src="images/design3.jpg" alt="Design 3")
						.col-sm-6
							h2 Mikä onkaan se innovaatio, jolla romukoppaan päätynyt ERP korvataan?
							p Lopulta kun uusi ehdotus on mustaa valkoisella, Ilari Oy ottaa yhteyttä asiakkaaseen.
							p Osapuolet kohtaavat uudelleen ja Pekka Oy:n edustajille valaistaan kehitetty ehdotus yksityiskohtaisesti ja ollaan valmiita vastaamaan mahdollisiin lisäkysymyksiin. Palaverin jälkeen Pekka Oy:n edustajat palaavat omaan päämajaansa ja yhtiön sisäiset neuvottelut Ilari Oy:n ideasta voivat alkaa.
							+factModal('Palaverin viimeistely', '4',
							'Saa kaikki tajuamaan lopputulos',
							'Tee suunnitelmista totta')
				.story
					.row
						.col-sm-12
							img.img-responsive(src="images/pekka-meeting.jpg" alt="Pekka meeting")
					.row
						.col-sm-12
							h2 Pekka Oy:n työntekijät neuvottelevat Ilari Oy:n tarjouksesta...
							p ... mutta samaan aikaan puntaroivat myös muita, kilpailevien yritysten palveluja. Kylmän matematiikan ja helmitaulun opastamana päätös valmistuu pienin mutta varmin askelein. Pekka Oy päättää näyttää vihreätä valoa Ilari Oy:n ehdotukselle.
		section.last-call
			.container
				h2.last-call--title Puhelinlangat laulaa ja uuden palaverin paikka ja aika sovitaan

		section.contract
			.container
				.story
					.row
						.col-sm-12
							h2 Kolmas kerta toden sanoo
							p Tuoreimmassa palaverissa osapuolet vihdoin pääsevät yhteisymmärrykseen hankkeen sisällöstä ja kehitystyö saa lähtölaukauksen.
							img.img-responsive(src="images/handshake.jpg" alt="Handshake")

		section.every-meeting#every-meeting
			.container
				.row
					.col-sm-12
						h1.every-meeting--title Every Meeting Ever
				.row
					.col-sm-12
						.embed-responsive.embed-responsive-16by9
							iframe(src="http://www.youtube.com/embed/K7agjXFFQJU?hd=1&iv_load_policy=3" allowfullscreen)


		section.expert#expert
			.container
				.row
					.col-sm-12
						h1.every-meeting--title The Expert
				.row
					.col-sm-12
						.embed-responsive.embed-responsive-16by9
							iframe(src="http://www.youtube.com/embed/BKorP55Aqvg?hd=1&iv_load_policy=3" allowfullscreen)